.TimbotInfo {
    margin: 1.5rem 0;
}

.DiscordStatusErr {
    display: flex;
    align-items: center;
    padding: .75rem 1rem;
    margin: 1rem 0;
    background: rgba(231, 76, 60, .1);
    color: #e74c3c;
    font-weight: 400;
    border-radius: 4px;
    font-size: 13px;
}
.DiscordStatusErr strong {
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
}
.DiscordStatusErr__lamp {
    background: #e74c3c;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: .5rem;
}

.DiscordCard {
    background: #2C2F33;
    color: #fff;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.DiscordCard__avatar {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    background-color: #99AAB5;
    margin-right: 1rem;
}
.DiscordCard__text {

}
.DiscordCard__text-name {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.DiscordCard__text-sub {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin-top: -2px;
}
.DiscordCard__text-status {
    margin-top: 4px;
    font-size: 12px;
    /*color: #99AAB5;*/
    /*color: #2ecc71;*/
    color: #7289DA;
}
